[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "react"]
	path = react
	url = https://github.com/tadascience/react
[submodule "tada"]
	path = tada
	url = https://github.com/tadascience/tada
[submodule "valentine"]
	path = valentine
	url = https://github.com/tadascience/valentine
